:root {
    --red: #e63946;
    --off-white: #f1faee;
    --light-blue: #a8dadc;
    --blue: #457b9d;
    --navy: #1d3557;
}

body, html {
    background: var(--off-white);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vw;
    width: 100%;
}

.header {
    color: var(--navy);

}
.canvas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    background-color: var(--red);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.display {
    flex: 1;
}

.row {
    background-color: var(--navy);
    display: flex;
    flex: 1;
}

.button {
    background-color: --var(--light-blue);
    flex: 1;
}