:root {
    --red: #e63946;
    --off-white: #f1faee;
    --light-blue: #a8dadc;
    --blue: #457b9d;
    --navy: #1d3557;
}

body, html {
    background: var(--off-white);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vw;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header {
    color: var(--navy);

}
.canvas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 640px;
    background-color: var(--red);
    border-radius: 8px;
    padding: 6px;

}

div.display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 60px;
    padding-right: 20px;
    overflow: hidden;
    flex: 1;
    width: 90%;
    height: auto;
    background-color: var(--light-blue);
    border: 14px solid var(--red);
    border-radius: 24px;
    color: var(--navy);
}

div.row {
    background-color: var(--red);
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

div.button {
    display: flex;
    background-color: var(--navy);
    flex: 1;
    border: 2px solid var(--red);
    height: 100%;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    color: var(--off-white);
    font-size: 48px;
}